.navbar-default{ background-color: black;
border-color: #000000;
  font-size: 1.5em;
  padding: 0px 25px;
}

.container { padding-right: 15px;
padding-left: 15px;
margin: 10px auto;} 

body{
  margin-top: 70px;
  background-color: #ccc;
  text-align:center;
 font-family: 'Mirza', cursive;}

#aboutRow{
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
#aboutMe{font-size: 1.5em;}

#profileImg{display: block;
margin: 0 auto;}

#linksList{
display: inline-block;
  margin-left: 0 auto;
}
.fa-linkedin-square{color: #007bb6;}
.fa-free-code-camp{color: #09b609;}
.fa-github{color:#444;}
.fa-codepen{color: #555;}

.projects-container img {
  width: 250px;
  height: 250px;
  margin: 10px auto;
  border-radius: 25%;
}
@media(max-width: 600px){
body{font-size: .6em;}
.projects-container img {
  width: 135px;
  height: 135px;
  margin: 10px auto;
  border-radius: 25%;}
  #links .fa {font-size: 1em;}
}

@media (min-width: 601px) and (max-width: 767px){
  body{font-size: .8em;}
.projects-container img {
  width: 180px;
  height: 180px;
  margin: 10px auto;
  border-radius: 25%;}
 #links, .fa {font-size: 1.3em;}
}

@media(min-width: 768px) and (max-width: 991px){
  body{font-size: 1em}
.projects-container img {
  width: 200px;
  height: 200px;
  margin: 10px auto;
  border-radius: 25%;}
 #links .fa {font-size: 1.5em;}
}


@media(min-width: 992px) and (max-width: 1199px){
 #links .fa {font-size: 2em;}
.projects-container img {
  width: 225px;
  height: 225px;
  margin: 10px auto;
  border-radius: 25%;
}

}


@media(min-width: 1200px){
 #links .fa {font-size: 3em;}
}















